<a href="https://colab.research.google.com/github/faisal-fida/100-Python-Projects-in-Google-Colab/blob/main/Deep_Learning_(Basics).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from tensorflow.keras.layers import LSTM, Dense
from tensorflow.keras.models import Sequential

from sklearn.preprocessing import MinMaxScaler, LabelEncoder
from sklearn.model_selection import train_test_split

scaler = MinMaxScaler(feature_range=(0, 1))
encoder = LabelEncoder()

In [ ]:
df =  pd.read_csv('OHLC.csv')

In [ ]:
df.head()

,Symbol,Open,High,Low,Close,Vol,Symbol_Encoded,DayOfWeek,Month,Year
0,ACEDBL,114.0,113.0,112.0,113.0,1962,0,5,0,0
1,ACEDPO,188.0,114.0,114.0,114.0,10000,1,5,0,0
2,ADBL,115.0,115.0,113.0,114.0,1111,2,5,0,0
3,AHPC,319.0,319.0,312.0,312.0,377,4,5,0,0
4,ALDBL,102.0,101.0,101.0,101.0,30,11,5,0,0

In [ ]:
df['Vol'] = df['Vol'].str.replace(',','', regex=False).astype('int')

# x_scale = df[['Open','High','Low','Vol']]
# y_scale = df[['Close']]

# x_scaled = scaler.fit_transform(x_scale)
# y_scaled = scaler.fit_transform(y_scale)

In [ ]:
df['Symbol_Encoded'] = encoder.fit_transform(df['Symbol'])

In [ ]:
df['Date'] = df['Date'].str.replace('.csv','', regex=False)
df['Date'] = pd.to_datetime(df['Date'])

df['DayOfWeek'] = df['Date'].dt.dayofweek
df['Month'] = df['Date'].dt.month
df['Year'] = df['Date'].dt.year

df.drop(columns=['S.no','Date'], inplace=True)

In [ ]:
df['DayOfWeek'] = encoder.fit_transform(df['DayOfWeek'])
df['Month'] = encoder.fit_transform(df['Month'])
df['Year'] = encoder.fit_transform(df['Year'])

In [ ]:
X = df.drop(columns=['Symbol','Close'])
Y = df[['Close']]

X_train, X_test, Y_train, Y_test = train_test_split(X.values, Y.values, test_size=0.2, shuffle=False)

In [ ]:
model = Sequential()

model.add(LSTM(units=100,return_sequences=True,input_shape=(X_train.shape[1],)))
model.add(LSTM(units=50))
model.add(Dense(units=1))

In [ ]:
model.compile(optimizer='adam', loss='mean_squared_error', metrics=['accuracy'])

In [ ]:
model.fit(X_train, Y_train, epochs=50, batch_size=32, validation_split=0.2)